{# confirmation.html.twig#}
{# on appelle ce fichier via notre TestController.php#}


<h3>Welcome {{ name }} </h3>

<p>Vous êtes bien enregistré chez nous.</p>

<p>Pour vous connecter, <a href="{{url('login')}}" > Cliquez ici</a></p>

Merci ! 

<img src="{{ absolute_url(asset('img/totoro.jpg'))}}" alt="mon image">


